html {
    font-family: $system-font;
}

.heading {
    &__1 {
        font-style: normal;
        font-weight: 700;
        font-size: 4.8rem;
        line-height: 57px;
        letter-spacing: -0.04em;
        color: $grey-1;
    }
    &__2 {
        font-size: 2.4rem;
        font-weight: 600;
        line-height: 2.9rem;
        letter-spacing: 0.01em;
        text-align: left;
        color: $grey-1;
    }
    &__3 {
        font-size: 2rem;
        font-weight: 600;
        line-height: 2.9rem;
        letter-spacing: 0.01em;
        text-align: left;
        color: $grey-1;
    }
    &__4 {
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 2.1rem;
        letter-spacing: 0.01em;
        text-align: left;
        color: $font-grey-1;
    }
}

.title {
    &__1 {
        font-style: normal;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 1.9rem;
        color: $grey-2;
    }
}

.body {
    &__1 {
        font-style: normal;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2.2rem;
        color: $grey-1;
        &--footer {
            color: $grey-3;
        }
    }
}

.code {
    &__1 {
        background: rgba(255,255,255,0.2);
        border-radius: 2px;
        margin: 0 .3rem;
        padding: 1px 2px;
    }
}

.list {
    &__1 {
        font-style: normal;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 1.9rem;
        color: $grey-3;
    }
}