.utility {

    &--mb-xxsm {
        margin-bottom: $sp-xxsm;
    }

    &--mb-xsm {
        margin-bottom: $sp-xsm;
    }
    
    &--mb-hl-sm {
        margin-bottom: $sp-hl-sm;
    }

    &--mb-sm {
        margin-bottom: $sp-sm;
    }

    &--mb-md {
        margin-bottom: $sp-md;
    }

    &--mb-lg {
        margin-bottom: $sp-lg;
    }

    &--mb-xlg {
        margin-bottom: $sp-xlg;
    }

    &--mb-xxlg {
        margin-bottom: $sp-xxlg;
    }

    &--mb-xxxlg {
        margin-bottom: $sp-xxxlg;
    }
}