%shared-button-styles {
    border-radius: .8rem;
    cursor: pointer;
    transition: all .2s;
    padding: 1.2rem;
}

.button {

    &__primary {

        @extend %shared-button-styles;
        background: $grey-1;
        border: none;
        font-size: 1.6rem;
        color: #181819;

        display: flex;
        align-items: center;

        position: relative;

        p {
            margin-right: 1.2rem;
            pointer-events: none;
        }

        &:hover {
            background: $white-1;
        }

        
        &--icon {

            display: flex;
            align-items: center;
            justify-content: center;

            & svg {
                pointer-events: none;
                $btn-sec-dim: 2rem;
                width: $btn-sec-dim;
                height: $btn-sec-dim;
                color: #181819;
            }
        }

        &--copied {
            position: absolute;
            transition: all .2s;
            padding: 1.2rem;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: inherit;
            border-radius: 8px;
            visibility: hidden;
            &.show {
                transition: all .2s;
                visibility: visible;
            }
        }
    }

    &__secondary {

        @extend %shared-button-styles;
        background: $grey-8;
        border: 1px solid $grey-5;

        &:hover {
            background: $grey-7;
            border: 1px solid $grey-4;
        }

        &--icon {

            width: 4.8rem;
            height: 4.8rem;

            display: flex;
            align-items: center;
            justify-content: center;

            & svg {
                pointer-events: none;
                $btn-sec-dim: 2.4rem;
                width: $btn-sec-dim;
                height: $btn-sec-dim;
                fill: $grey-3;
            }

        }
    }
}