.code-snippet {

    position: relative;
    padding: 2.4rem 2.4rem 2.4rem 6.4rem;
    background: $grey-8;
    border: 1px solid $grey-5;
    border-radius: 12px;

    &__control {

        &.expanded {
            transform: rotate(90deg);
        }
        
        position: absolute;
        top: 2.4rem;
        left: 1.6rem;

        cursor: pointer;

        & svg {
            pointer-events: none;
            $control-icon-dimensions: 3.2rem;
            width: $control-icon-dimensions;
            height: $control-icon-dimensions;
            fill: $grey-3;
        }
    }

    &__content {

    }

    &__text-block {

    }

    &__snippet {
        margin-left: -6.4rem;
        margin-right: -2.4rem;
        border-top: 1px solid $grey-5;
        border-bottom: 1px solid $grey-5;
        padding: 2.4rem 2.4rem 2.4rem 6.4rem;
        background-color: #000000;
    }

    &__code {
        font-family: $system-font;
        font-style: normal;
        font-weight: 300;
        font-size: 1.6rem;
        line-height: 150%;
        color: $grey-1;
    }

    &__snippet-control {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

}