.main {
    max-width: 90rem;
    margin: 0 auto;
    padding: 6.4rem 0;

    &__control {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__control-button-group {
        display: flex;
        align-items: center;    
    }

    &__content-group > [class="code-snippet"] {
        margin-bottom: 1.6rem;
    }

    &__control-button-group--sort-menu {
        position: relative;
        margin-left: .8rem;
    }
}

